@font-face {
    font-family: 'Planar';
    src: url('data/GT-Planar-Trial-VF.woff2') format('woff2-variations');
    font-weight: 100 900;
}

body {
    background-color:#1600da ;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    z-index: 1;
}

* { /* Alle Elemente */
    font-family: 'Planar';
    font-variation-settings: 'slnt' 0, 'wght' 900;
}

h1 {
    font-size: 15vw;
    display: flex;
    color: #000000;
}

.MNRTitle {
    font-size: 15vw;
    display: flex;
    color: #000000;
}

h2 {
    font-size: 5vw;
    /* display: flex; */
}

h3 {
    font-size: 2.5vw;
    /* display: flex; */
}

p {
    font-size: 1em;
}

a {
    color: #1600da;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}


/*ID's*/

#typoblock {
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    /* background-color: aqua; */
}

#coordinates {
    text-align: center;
}


/*Klassen*/
.horizontal-flex {
    display: flex;
    /* flex-direction: row; */
    justify-content:space-between;
    /* align-items: center; */
}

.sr500 {
    mix-blend-mode: exclusion;
    position: absolute;
    width: 900%;
    top: 25%;
    transform: translate(0%,0%) rotate(0deg);
    transform-origin: bottom left;
}